@{
    ViewBag.Title = "SR Requests";
    var list = ViewBag.list;
    var count = ViewBag.count;
}

<div class="container"><h2><b>Student Representatives Requests</b></h2><br /></div>
<div class="container">
    <form action="" method="post">
@if (count == 0)
{
    <h3>No Requests at the time</h3><br />

}
else
{
    for (var i = 0; i < count / 5; i++)
    {

            <div class="panel panel-info">
                <div class="panel-heading">@list[i * 5]</div>
                <div class="panel-body">
                    <b>ID:</b> @list[i * 5 + 1] <br />
                    <b>Email:</b> @list[i * 5 + 2] <br />
                    <b>Year:</b> @list[i * 5 + 3] <br />
                    <b>Request:</b> @list[i * 5 + 4] <br /><br />
                    <button formaction="AcceptSRRequest" type="submit" class="btn btn-default" value="@list[i * 5]" name="Username">Accept</button>
                    <button formaction="RejectSRRequest" type="submit" class="btn btn-default" value="@list[i * 5]" name="Username">Reject</button>
                </div>
            </div>
    }
}
    </form>
</div>